:root {
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #f0f0f0;
    --light-text: #151426;
    --light-btn: orange;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace"
}

.content-logo {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}



.content-logo .logo-litera img {
    display: flex;
    width: 40%;
}

.content-logo .logo-uni img {
    width: 130%;
    margin-left: 10px;
}

.content-logo .title-litera {
    display: flex;
    width: 10px;
    justify-content: right;
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

.navbar-expand-lg {
    margin-top: 10px;
    background: orange;
}

.navbar-expand-lg .avatar {
  max-width: 42px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    
}

.bx-home:before {
    color: white;
    font-size: 35px;
}

.bx-user:before {
    font-size: 20px;
}

.nav-item {
    margin: 0px 20px;
}

/*======Content Carousel====*/

.carousel-inner {
  background: linear-gradient(180deg, white 0%, rgb(182, 182, 182) 100%);
}
.carousel-inner img{
    height: 550px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.carousel-control-next{
  color: white;
  background-color: #000033;
}



/*=====Slider ======*/

.container-slider {
    display: flex;
    padding-inline: 30px;
}

.container-slider picture {
    width: 100%;
    padding: 0 15px;
}

.container-slider picture img {
    height: 280px;
    opacity: 0.45;
    width: 100%;
}

.container-slider #title{
    z-index: 2;
    font-size: 23px;
    color: #555555;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 10%;    
}

.container-slider #title p {
    margin: -5px 0;
    height: 30px;
}



.container-slider #btn-ver-1, #btn-ver-2, #btn-ver-3, #btn-ver-4 {
    display: flex;
    width: 50%;
    border: 1px solid #AEB6BF;
    padding: 4px 28px;
    color: white;
    background: #5D6D7E;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
    z-index: 2;
}

/*===== Mapa & Ubicacion CSS*/
.container-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
}

.container-ubicacion .title-ubicacion {
    padding: 10px;
    background: #85929E;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.content-info {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.content-info > *{
  margin: 20px;
}


.contentc-profesor-info {
  display: flex;
  justify-content: center;
  padding: 0;
}

.content-profesor-info > *{
  margin: 20px;
}

/*=====FOOTER CSS=====*/

.container-footer {
    width: 100%;
    display: flex;
    height: 220px;
    margin-top: 25px;
    background: orange;
    
}

.container-footer .section-log {
    width: 100%;
    display: flex;
    background: orange;
    justify-content: center;
}

.container-footer .section-log img {
    width: 150px;
    height: 120px;
    margin-top: 40px;
}

.section-contact ul{
    margin-top: 30px;
    list-style-type: none;
    font-size: 12px;
    margin-left: -55px;
    color: white;
}

.section-info ul{
    margin-top: 60px;
    list-style-type: none;
    font-size: 12px;
    margin-left: -55px;
    color: white;
}

.container-footer .section-contact {
    width: 100%;
    background: orange;
}

.container-footer .vertical-line {
    width: 4px;
    height: 170px;
    position: relative;
    left: 10px;
    margin-top: 15px;
    position: relative;
    background: white;
}

.container-footer .section-info{
    display: flex;
    justify-content: right;
    width: 100%;
    background: orange;
}

.container-footer .section-liter{
    width: 100%;
    display: flex;
    justify-content: right;
    background: orange;
}

.container-footer .section-liter img{
    width: 130px;
    height: 120px;
    position: relative;
    left: 50px;
    margin-top: 40px;

}

.container-footer .section-social {
    width: 100%;
    display: block;
    justify-content: center;
    background: orange;
}

.container-footer .section-social .bx{
    font-size: 210%;
    margin-top: 45%;
    text-decoration: none;
    color: black;
}

.copy {
    display: flex;
    margin-top: 4px;
    padding: 5px;
    background: orange;
    justify-content: center;

}

/*======Pagina Blog=======*/
#content-blog {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background: #ABB2B9;
    display: flex;

}


#content-blog strong {
    font-size: 2rem;
    color: white;
    margin: 0 20px;
    margin-top: 45px;
}

#content-blog img {
    width: 300px;
    margin-top: 8px;
}

.title-blog-2 strong {
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.tipoBlog{
  color: rgb(255, 255, 255); 
  font-size: 18px;
  background-color: rgba(255, 166, 0, 0.85);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  max-width: 200px;
}

.separacionBlogs{
  border-width: 5px; /* Ancho del borde */
  border-style: solid; /* Estilo del borde (puedes cambiar a dashed, dotted, etc.) */
  border-color: orange; /* Color del borde */
  border-left-width: 0;
  border-right-width: 0;
  display: flex;
  justify-content: center;
}
.btnMostrarBlogs{
  background-color: #2e2e2e;
  color: white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;

}
.cardBlog{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 20px;
  position: relative;
  text-decoration: none;
  height: 190PX;

}
.cardBlog .img{
  height: 100%;
  opacity: 90%;
  width: 50%;
}
.cardBlog strong{
  position: relative;
  top: 20%;
  width: 40%;
  padding: 10px;
  line-height: 1.2; /* Ajusta la altura de línea según sea necesario */
  max-height: 4em; /* 3 líneas de texto con una altura de línea de 1.2 */
  overflow: hidden;
  color: black;

}
.cardBlog .tipoBlog{
  position:absolute;
  top: 30px;
  left: 30%;
  color: rgb(255, 255, 255); 
  font-size: 18px;
  background-color: rgba(255, 166, 0, 0.85);
  border-radius: 20px;
  padding: 5px;
  min-width: 20%;
  text-align: center;
}

/*=====Content Slider 1====*/

.content-slide-blog {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    margin-top: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content-slide-blog .card {
    width: 300px;
    height: 200px;
    border: 0px;
    margin: 0px 10px;
    margin-top: 10px;
    border-radius: 0px;
}

.content-slide-blog .card-img-overlay {
    display: block;
    justify-content: center;
}

.content-slide-blog .card img {
    width: 100%;
    height: 200px;
    opacity: 0.35;
}

.content-slide-blog .card h5{
  margin: 0 auto;
  margin-top: 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
  width: 100%;
}


.content-slide-blog .card a {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 60%;
    padding: 5px 15px;
    color: white;
    background-color: orange;
    text-decoration: none;
    position: relative;
    left: 49px;
    top: 30px;
}

.content-slide-blog .card a:hover {
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
}


/*=======CSS Noticias =======*/

.img-noticias {
    background: url(/Literagiando/Resources/img/fondo_noticias.png);
    width: 100%;
    height: 300px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.img-noticias .capa-opacity {
    width: 100%;
    height: 300px;
    opacity: 0.50;
    background: #515457;
  }

  #noticias-title {
    margin: 80px;
    margin-top: 90px;
    font-size: 45px;
    color: white;
    position: absolute;
    text-transform: uppercase;
    z-index: 3;
  }

  .container-nav-noticias {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  
  .container-nav-noticias ul li {
    display: inline;
    margin: 10px;
    font-size: 25px;
  
  }
  
  .container-nav-noticias ul li a {
    color: black;
    text-decoration: none;
  }
  
  .container-nav-noticias ul li a:hover {
    padding: 5px 10px;
    border-radius: 8px;
    background: orange;
    color: white;
  }
  
  #line-noticias {
    display: flex;
    width: 80%;
    left: 50%;
    margin-top: 10px;
    border: 2px solid orange;
    position: absolute;
    transform: translateX(-50%);
  
  }

  .content-slide-noticias {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    margin-top: 55px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content-slide-noticias .card {
    width: 300px;
    height: 200px;
    border: 0px;
    margin: 0px 10px;
    margin-top: 10px;
    border-radius: 0px;
}

.content-slide-noticias .card-img-overlay {
    display: block;
    justify-content: center;
}

.content-slide-noticias .card img {
    width: 100%;
    height: 200px;
    opacity: 0.6;
}

.content-slide-noticias .card h5{
    display: flex;
    margin-top: 10px;
    text-align-last: center;
    justify-content: center;
    justify-items: center;
}
.content-slide-noticias .card h6 {
  margin: 0 auto;
  margin-top: 20px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  text-align: center;
  width: 100%;
}



.content-slide-noticias .card a {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 60%;
    padding: 5px 15px;
    color: white;
    background-color: #7A8693;
    text-decoration: none;
    position: relative;
    left: 49px;
    top: 30px;
}

.content-slide-noticias .card a:hover {
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
}

.button-ver a {
    width: 10%;
    display: flex;
    margin-top: 50px;
    padding: 6px 15px;
    border-radius: 10px;
    border: 1px solid orange;
    justify-content: center;
    justify-items: center;
    position: relative;
    left: 50%;
    color: white;
    background-color: orange;
    transform: translateX(-50%);
    text-decoration: none;
}

.button-ver a:hover {
    color: orange;
    background-color: transparent;
    border: 2px solid orange;
}
/*======CSS Noticia===*/

.body_content {
  display: flex;
  width: 100%;
  min-height: 300px;
  min-width: 300px;
}

.body_content .rightPanel{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  min-width: 300px;
  padding-top: 20%;
}
.body_content .leftPanel{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 100px;
  padding-top: 20px;
}
.body_content .leftPanel .img{
  padding: 20px;
  padding-inline: 100px;
  max-width: 80%;
}
.body_content .leftPanel h5{
  
  padding: 30px;
  border-width: 0;
  border-left-width: 5px;
  border-color: orange;
  border-style: solid;
}
.tipoNoticia{
  color: rgb(255, 255, 255); 
  font-size: 18px;
  background-color: rgba(255, 166, 0, 0.85);
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  max-width: 200px;
}

.separacionNoticias{
  border-width: 5px; /* Ancho del borde */
  border-style: solid; /* Estilo del borde (puedes cambiar a dashed, dotted, etc.) */
  border-color: orange; /* Color del borde */
  border-left-width: 0;
  border-right-width: 0;
  display: flex;
  justify-content: center;
}
.btnMostrarNoticias{
  background-color: #2e2e2e;
  color: white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;

}
.cardNoticia{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 20px;
  position: relative;
  text-decoration: none;
  height: 190PX;

}
.cardNoticia .img{
  height: 100%;
  opacity: 90%;
  width: 50%;
}
.cardNoticia strong{
  position: relative;
  top: 20%;
  width: 40%;
  padding: 10px;
  line-height: 1.2; /* Ajusta la altura de línea según sea necesario */
  max-height: 4em; /* 3 líneas de texto con una altura de línea de 1.2 */
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;

}
.cardNoticia .tipoNoticia{
  position:absolute;
  top: 30px;
  left: 30%;
  color: rgb(255, 255, 255); 
  font-size: 18px;
  background-color: rgba(255, 166, 0, 0.85);
  border-radius: 20px;
  padding: 5px;
  min-width: 20%;
  text-align: center;
}
/*========CSS Eventos=======*/

.img-eventos {
    background: url(/Literagiando/Storage/img-home/niños.jpeg);
    width: 100%;
    height: 300px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.img-eventos .capa-opacity {
    width: 100%;
    height: 300px;
    opacity: 0.50;
    background: #515457;
  }

  #eventos-title {
    margin: 80px;
    margin-top: 90px;
    font-size: 45px;
    color: white;
    position: absolute;
    text-transform: uppercase;
    z-index: 3;
  }

  .content-search-eventos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .content-search-eventos .d-flex {
    width: 40%;
  }

  .content-search-eventos .d-flex input {
    border: 1px solid #D6DBDF;
  }

  .content-search-eventos .d-flex button {
    border: 1px solid #D6DBDF;
    background-color: orange;
    color: white;
  }

  .content-search-eventos .d-flex input:hover {
    border: 2px solid orange;
  }

  .content-search-eventos .d-flex button:hover {
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
  }

  .content-event {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .content-event .card-group {
    display: flex;
    flex-wrap:wrap;
  }

  .content-event .card-group .card {
    margin: 10px 10px;
    width: 30%;
    max-height: 500px;
  }

  .content-event .card-group .card:hover {
    border: 1px solid orange;
  }
  .content-event .card-group .card .card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 8;
  }

  .content-event .card .card-footer a {
    font-size: 13px;
    color: black;
    text-decoration: none;
  }

  .content-event .card .card-footer a:hover {
    font-size: 16px;
    color: orange
  }

  .content-event .col-3 {
    border: 1px solid orange;
  }

  .content-event  .group-btn-filter input {
    margin: 10px 5px;
    margin-top: 8px;
    border: 1px solid #D6DBDF;

  }

  .content-event .btn-select {
    margin-top: 30px;
  }

  .content-event button {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    color: white;
    background-color: orange;
  }

  .content-event button:hover {
    border: 2px solid orange;
    color: orange;
    background-color: white;
  }
  .separacionEventos{
    margin: 20px;
    margin-inline: 0;
    border-width: 5px; /* Ancho del borde */
    border-style: solid; /* Estilo del borde (puedes cambiar a dashed, dotted, etc.) */
    border-color: rgb(175, 87, 4); /* Color del borde */
    border-inline: 0;
    display: flex;
    justify-content: center;
  }

  .rightPanel .separacionEventoos{
    border-bottom-color: orange;
    border-style: solid;
    border-top-width: 0;
    border-inline: 0;
  }
  .LeftPanel .img-evento{
    width: 100%;
    height: 80%;
  }
  .LeftPanel .btnIns{
    margin-inline: 40%;
    width: 30%;
    margin-top: 40px;
    padding: 5px;
    color: white;
    background-color: orange;
    border-radius: 30px;

  }
  .LeftPanel .btnIns:hover {
    border: 2px solid orange;
    color: orange;
    background-color: white;
  }

  /*=====Calendario=====*/

  .container-calendar {
    margin-top: 20px;
    width: max-content;
    height: max-content;
    position: relative;
    display: flex;
    padding: 5% 0px 0px 0px;
    justify-content: center;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 40%;
  }
  .calendar {
    height: 310px;
    width: 260px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    padding: 21px 9px -2px 12px;
    margin-top: 20px;
    margin: 10px 0;
    
  }
  .calendar {
    box-shadow: var(--shadow);
  }
  .calendar-header {
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--white);
    padding: 6px;
  }
  .calendar-body {
    pad: 10px;
  }
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 400;
    cursor: pointer;
    color:rgb(104, 104, 104);
  }
  .calendar-week-days div:hover {
  color:black;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
  }
  .calendar-week-days div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
    height: 20px;
  }
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    color: var(--color-txt);
  }
  .calendar-days div {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  .month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  .month-picker:hover {
    background-color: var(--color-hover);
  }
  .month-picker:hover {
    color: var(--color-txt);
  }
  .year-picker {
    display: flex;
    align-items: center;
  }
  .year-change {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0px 10px;
    cursor: pointer;
  }
  .year-change:hover {
    background-color: var(--light-btn);
    transition:all .2s ease-in-out ;
    transform: scale(1.12);
  }
  .year-change:hover pre {
    color: var(--bg-body);
  }
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #year:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  .calendar-days div span {
    position: absolute;
  }
   .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    background-color: #fbc7d4;
    border-radius: 20%;
    color: var(--dark-text);
  }
  .calendar-days div.current-date {
    color: var(--dark-text);
    background-color: var(--light-btn);
    border-radius: 20%;
  }
  .month-list {
    position: relative;
    left: 0;
    top: -50px;
    background-color: #ebebeb;
    color: var(--light-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border-radius: 20px;
  }
  .month-list > div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  .month-list > div > div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  .month-list > div > div:hover {
    background-color:var(--light-btn);
    color: var(--dark-text);
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  .month-list.hideonce{
    visibility: hidden;
  }
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  .date-time-formate {
    width: max-content;
    height: max-content;
    font-family: Dubai Light, Century Gothic;
    position: relative;
    display: inline;
    top: 110px;
    justify-content: center;
  }
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.2rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
    position: absolute;
    left: -2rem;
  }
  .date-time-value {
    display: block;
    height: max-content;
    width: max-content;
    position: relative;
    left: 14%;
    top: -80px;
    text-align: center;
  }
  .time-formate {
    font-size: 1.2rem;
  }
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  .day-text-formate.showtime{
    animation: showtime 1s forwards;
  }
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }

  /*=====CSS Historia======*/

  .content-historia {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 50px;
    margin: 20px 20px ;
  }

  .content-historia .col-4 img{
    width: 230px;
    position: relative;
    margin-top: -20px;
  }

  .content-historia .col-4 h2 {
    display: flex;
    font-size: 28px;
    justify-content: center;
    position: relative;
    z-index: 2;
    top: 125px;
  }

  .content-historia .col-8 p{
    margin-top: 50px;
    text-align: justify;
  }

  /*==== Slider Historia====*/

  .content-slide-historia {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    justify-items: center;
    margin-top: 55px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .content-slide-historia .card {
    width: 280px;
    height: 230px;
    border: 0px;
    margin: 0px 22px;
    margin-top: 10px;
    border-radius: 0px;
    box-shadow: 8px 6px 0px 4px orange;
}

.content-slide-historia .card-img-overlay {
    display: block;
    justify-content: center;
}

.content-slide-historia .card img {
    width: 100%;
    height: 200px;
    opacity: 0.35;
}

.content-slide-historia .card h5{
    display: flex;
    top: 50px;
    font-size: 14px;
    justify-content: center;
    justify-items: center;
    position: relative;

}

.content-slide-historia .card a {
  text-decoration: none;
  display: flex;
  color: white;
  justify-content: flex-end;
  position: relative;
  top: 125px;
}

.content-slide-historia .card a:hover {
  color: orange;
}

.content-historia .col-8 {
  width: 50%;
}

/*======= Slider Generos ======*/

.content-slide-generos {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  justify-items: center;
  margin-top: 55px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.content-slide-generos .card {
  width: 240px;
  height: 210px;
  border: 0px;
  margin: 0px 10px;
  margin-top: 10px;
  border-radius: 0px;
}

.content-slide-generos .card:hover {
  border: 4px solid orange;
}

.content-slide-generos .card-header {
  display: flex;
  justify-content: center;
  background: #566573 ;
} 

.content-slide-generos .card-body {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #566573 ;
}


/*=======CSS Objetivos=======*/

  .container-objetivos{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .container-objetivos .card {
    margin-top: 35px;
    border: 2px solid orange;
    box-shadow: 5px 0px 10px 15px #FCF3CF;
  }

  .container-objetivos .card .title-1 {
    font-size: 15px;
    position: absolute;
    left: 110px;
    top: 130px;
    max-width: 100px; 
    overflow-wrap: break-word;
}

  .container-objetivos .card .title-2 {
      font-size: 15px;
      position: absolute;
      right: 70px;
      top: 130px;
      max-width: 100px; /* Ajusta el valor según tus necesidades */
      overflow-wrap: break-word;
      text-overflow: ellipsis; 
  }


  .container-especificos .card .img-fluid {
    display: flex;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    height: 275px;
  }

  .container-objetivos .card .col-md-4 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }



  /*=====CSS Servicios=====*/

  .container-servicios {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
  }

  .container-servicios .h-100 {
    width: 15%;
    margin: 0 15px;
    border: 3px solid orange;
    height: auto!important;
  }

  .container-servicios .h-100:hover{
    background-color: orange;
    color: white;
    border: 3px solid orange ;
  }

  .container-servicios img {
    width: 100px;
  }

  .container-servicios .card-body h5 {
    display: flex;
    justify-content: center;
  }

  .container-servicios .card-body p {
    display: flex;
    justify-content: center;
    text-align: justify;
  }

  .container-servicios .h-100 img {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
    padding: 15px 20px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  /*====CSS Profesores=========*/

    .container-profesores {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .container-profesores .col-8 {
      background: #f7c67e;
      border-radius: 15px;
      padding: 30px;
      border: 2px solid #2e2e2e ;
      position: relative;
      margin-right: 80px;
      z-index: 2;
    }

    .container-profesores .col-4 {
      width: 20.333333%;
    }

    .container-profesores .col-4 .title-equipo {
      font-size: 2.5rem;
      border: 4px solid orange;
      border-radius: 20px;
      display: inline-block;
      top: 23%;
      background: orange;
      color: white;
      position: relative;
      margin-left: 90px;
      width: 100%;
      height: 400px;
      position: relative;
      z-index: 0;
    }

    .container-profesores .col-4 h1 {
      font-size: 80%;
      margin-left: 50px;
      margin-top: 130px;
    }

    .container-profesores .card-info {
      margin-top: 15px;
    }
    .container-profesores .card-info .box {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: orange;
      overflow: hidden;
    }

    .container-profesores .card-info .box::before {
      content: '';
      position: absolute;
      inset: -10px 140px;
      background: linear-gradient(315deg, #FFCC33, #000033 );
      transition: 0.5s;
      animation: animate 4s linear infinite;
    }

    .container-profesores .card-info .box:hover:before {
      inset: -20px 0px;
    }

    @keyframes animate {
      0%
      {
        transform: rotate(0deg);
      }
      100%
      {
        transform: rotate(360deg);
      }
    }

    .container-profesores .card-info .content {
      position: absolute;
      inset: 15px;
      border: 2px solid black;
      z-index: 3;
      border-radius: 50%;
      overflow: hidden;
    }

    .container-profesores .card-info .box::after {
      content: '';
      position: absolute;
      inset: 6px;
      background: white;
      border-radius: 50%;
      z-index: 1;
    }

    .container-profesores .card-info img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
      pointer-events: none;
    }

    .container-profesores .card-info {
      display: flex;
      justify-content: center;
    }

    .container-profesores .card-info .content-info {
      display: grid;
      justify-content: center;
      border: 3px solid orange;
      border-radius: 40px;
      width: 75%;
      height: 125px;
      justify-content: center;
      justify-items: center;
      margin-top: 41px;
      margin-left: -10%;
      background: white;
      padding: 0 10px;
    }

    .container-profesores .card-info .content-info strong {
      font-size: 26px;
    }

    .container-profesores .card-info .content-info h2 {
      font-size: 18px;
    }
    .container-profesores .card-info .content-info > * {
      margin: 0;
    }



  @media (max-width:375px) {
    .month-list>div{
  
      margin: 5px 0px;
    }
  }

@media only screen and (max-width:768px){

    /*=====Profesores======*/

    .container-profesores {
      display: block;
    }

    .container-profesores .col-4 .title-equipo {
      width: 100%;
    }

    /*===== Objetivos =====*/
    .container-objetivos {
      display: flex;
      margin-top: 20px;
    }

    .container-objetivos .card {
      margin: 0 20px;
    }

    .container-objetivos .card .col-md-4 {
      display: inline-flex;
    }

    .container-objetivos .card .col-md-8 {
      display: inline-flex;
    }

    .container-objetivos .card .title-1{
      top: 75px;
      left: 50%;
      transform: translateX(-50%);
    }

    .container-objetivos .card .title-2{
      transform: translateY(1px);
      position: relative;
    }

    /*==== Noticias ======*/
    .container-servicios {
      display: block;
    }

    .container-servicios .h-100 {
      width: 95%;
      margin-top: 15px;
      padding: 20px  15px;
      margin: 15px0 15px;
    }

    /*==== Generos Literarios====*/

    .content-slide-generos {
      width: 100%;
  }

  .content-slide-generos .card {
    width: 100%;
  }

    /*======Historias =====*/
    .content-historia {
      display: inline-block;
    }

    .content-historia .col-8 {
      display: contents;
    }

    .content-historia .col-4 {
      display: contents;
    }

    .content-historia .col-8 p {
      display: flex;
      justify-content: center;
      justify-items: center;
    }

    .content-slide-historia .card {
      margin-top: 15px;
      width: 98%;
    }     
    /*======Eventos ========*/
    .date-time-formate {
      display: inline-flex;
    }

    .content-event .col-3 {
      display: contents;
      justify-content: center;
    }

    .content-event .col-9 {
      display: contents;
    }
    
    .calendar {
      display: math;
    }

    .calendar-header {
      margin-top: 20px;
    }

    .content-event {
      display: flex;
    }

    .content-event .row{
        display: block;
    }

    .content-event .card-group {
        display: block;
    }

    .content-event .card-group .card {
        margin-top: 15px;
    } 
    
    /*======CSS Noticias===*/
    .button-ver a {
        width: 26%;
    }

    #noticias-title {
        font-size: 35px;
    }

    .container-nav-noticias ul li {
        display: inline;
        margin: 10px;
        font-size: 14px;
    }

    

    /*====Blog======*/
    #content-blog strong {
        font-size: 2rem;
        color: white;
        margin: 0 20px;
        margin-top: 45px;
    }

    #content-blog img {
        width: 200px;
        margin-top: 8px;
    }
    
    .title-blog-2 strong {
        display: flex;
        justify-content: center;
        font-size: 35px;
    }

    .content-slide-blog {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        justify-items: center;
        margin-top: 25px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .content-slide-blog .card {
        width: 75%;
        height: 200px;
        border: 0px;
        margin: 0px 10px;
        margin-top: 10px;
        border-radius: 0px;
    }
    
    /*======header =======*/
    .content-logo .logo-litera img {
        display: flex;
        width: 32%;
    }
    
    .content-logo .logo-uni img {
        width: 95%;
        margin-top: 8px;
        margin-left: 10px;
    }

    .content-logo .title-litera {
        display: flex;
        width: 10px;
        margin-left: -25px;
        text-align: center;
        margin-top: 18px;
        font-size: 22px;
    }

    /*=====Slider ======*/
     
    .container-slider {
        display: block;
        margin: 10px 10px;
    }  
    
    .container-slider picture {
        width: 100%;
        display: block;
        margin-top: -35px;
        justify-content: center;
    }

    .container-slider picture img {
        width: 100%;
    }

    .container-slider #title-1{
        z-index: 2;
        font-size: 23px;
        text-transform: uppercase;
        position: relative;
        top: 100px;  
    }
    .container-slider #title-2{
        z-index: 2;
        font-size: 23px;
        text-transform: uppercase;
        position: relative;
        top: 100px;     
    }
    
    .container-slider #title-3{
        z-index: 2;
        font-size: 23px;
        text-transform: uppercase;
        position: relative;
        top: 100px;    
    }
    
    .container-slider #title-4{
        z-index: 2;
        font-size: 23px;
        text-transform: uppercase;
        position: relative;
        top: 100px;    
    }
    
    .container-slider #title-1 p {
        margin: -5px 0;
    }
    
    .container-slider #title-2 p {
        margin: -5px 0;
    }
    
    .container-slider #title-3 p {
        margin: -5px 0;
    }
    
    .container-slider #title-4 p {
        margin: -5px 0;
    }

    .container-slider #btn-ver-1, #btn-ver-2, #btn-ver-3, #btn-ver-4 {
        display: flex;
        justify-content: center;
        position: relative;
        top: -70px;
        right: 50%;
    }

    /*======Footer =====*/

    .content-info {
        display: block;
        justify-content: center;
    }

    .container-footer {
        display: block;
    }

    .section-contact ul li{
        display: flex;
        justify-content: center;
    }

    .vertical-line {
        display: none;
    }

    .section-info ul li {
        display: flex;
        justify-content: center;
    }

    .container-footer .section-contact {
        width: 100%;
        margin-top: 64px;
        background: orange;
    }

    .container-footer .section-liter{
        width: 100%;
        display: flex;
        margin-top: -12px;
        justify-content: center;
        background: orange;
    }

    .container-footer .section-liter img{
        width: 130px;
        height: 120px;
        left: 0%;
        margin-top: 10px;
    
    }

    .container-footer .section-info{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 4px;
        background: orange;
    }

    .container-footer .section-social {
        width: 100%;
        display: flex;
        margin-top: 4px;
        justify-content: center;
        background: orange;
    }

    .container-footer .section-social .bx{
        font-size: 210%;
        margin-top: 0;

    }

    .copy {
        display: none;
    }
}
