* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    width: 100%;
    font-family: 'Source Serif Pro', cursive;
}

h1 {
    font-family: 'Source Serif Pro', cursive;
    color: #47525E;
}

.table {
    font-family: 'Source Serif Pro', cursive;
    color: #47525E;

}

hr {
    border-width: 4px;
    border-color: #ff9d00;
    background-color: #FFD185;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.btn {
    background-color: #ff9d00;
    color: white;
    border-color: #47525E;
}

.btn:hover {
    background-color: #ff9d00;
    color: white !important;
    box-shadow: 0 4px 16px #ff9d00;
    transition: all 0.2s ease;
}

.btn3 {
    background-color: #ff9d00;
    color: white;
    border-color: #ff9d00;
    border-radius: 12px;
    padding: 4px;
}

.btn3:hover {
    background-color: #ff9d00;
    color: white !important;
    box-shadow: 0 4px 16px #ff9d00;
    transition: all 0.2s ease;
}

.btn2 {
    border: none;
}

.botones {
    display: flex;
    justify-content: center;
}


.seccion2 {
    width: 80%;
    background: url(../../Storage/Imagenes/login_literagiando.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15%;
}

.formulario {
    width: 113%;
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: 'Source Serif Pro', cursive;
}

p2 {
    font-size: 30px;
    color: #F59A35;
    text-align: center;
    font-weight: bold;
    font-family: 'Source Serif Pro', cursive;
}

p {
    font-family: 'Source Serif Pro', cursive;
}

.enlace1 {
    color: #F59A35;
    font-size: 14px;
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: 'Source Serif Pro', cursive;
}

.pregistro {
    font-family: 'Source Serif Pro', cursive;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 0px;
}

.enlace2 {
    color: #F59A35;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif Pro', cursive;
}

.bloque {
    display: flex;
    width: 100%;
}

.elemento {
    padding: 3px;
    border: 1px solid black;
    width: 100%;
}

.titulo_grande {
    text-align: center;
    margin-top: 5px;
}

/* LETRA POP UP */

.letraPop {
    font-family: 'Source Serif Pro', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    left: 20px;
}

.titlePop {
    font-family: 'Source Serif Pro', sans-serif;
    color: black;
    font-size: 20px;
}

/* responsive */

@media(max-width: 1100px) {
    body {
        font-size: 15px;
    }
}

@media(max-width: 1194px) {
    .seccion2 {
        width: 50%;
        background: url(../../Storage/Imagenes/login_literagiando2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 10%;
    }

    .formulario {
        width: 80%;
        display: flex;
        justify-content: right;
        align-items: right;
        font-family: 'Source Serif Pro', cursive;
    }
}