@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro:wght@500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace"
}

.container-blog {
  display: flex;
  height: 270px;
  background-image: url(/Storage/img-home/niños.jpeg);
  justify-content: center;
  background-size: cover;
  background-position: center center;
  
}


#btn-nosotros {
	box-shadow: -5px 6px 0px 4px #4e4848;
	background: orange;
	border:1px solid orange;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 41px;
	text-decoration:none;
  margin-top: 80px;
	text-shadow:0px 1px 0px #463f3e;
  position: absolute;
  z-index: 2;
}



.container-blog .img-fondo img{
  width: auto;
  height: 250px;
}

.line-time {
  display: flex;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid black;
}

.line-time .item-nav {
  margin-top: 12px;
}

.line-time h5{
  width: auto;
  color: orange;
  margin-top: 25px;
}

.line-time .icon a {
  width: 35px;
  height: 35px;
  border: none;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
  background: orange;
}


.line-time .icon {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.line-time .bi-circle-fill
{
  font-size: 25px;
  color: orange;
}

.line-time .bi-circle-fill::before {
  content: "\f287";
  vertical-align: -0.02em;
}

.line-time .bi-circle-fill:hover {
  color: black;
}

.content-title-generos {
  display: flex;
  justify-content: center;
}


@media only screen and (max-width:768px){

  .line-time h5{
    display: none;
  }

  .line-time .item-nav {
    margin: 0px 14px;
  }

  .line-time .title-icon strong {
    font-size: 13px;
  }

}